<template>
    <div class="password_eye">
		<input type="password" class="form-control" :placeholder="placehold" v-model="password" @input="callBack">
		<a class="btn_eye" @click="eyeToggle($event)"></a>
	</div>
</template>

<script>
export default {
    props: ['placeholder','required'],
	data: function () {
		return {
			placehold:this.placeholder,
			require:this.required,
			password:"",
		}
	},
	methods: {
		eyeToggle:function (event) {
			var elem = $(event.target)
			if(elem.hasClass("active")){
				elem.removeClass("active");
				elem.closest(".password_eye").find("input[type='text']").attr('type', 'password')
			}else{
				elem.addClass("active");
				elem.closest(".password_eye").find("input[type='password']").attr('type', 'text')
			}
		},
		callBack: function () {
			var self = this;
			self.$emit('input', self.password);
		}
	},
}
</script>

<style>

</style>