<template>
    <div style="width:380px;" class=" m-auto">
        <div class="centerx icons-example">
            <h1>เข้าระบบ</h1>
            <vs-input icon-no-border icon="mail" label="อีเมล" label-placeholder="อีเมล" v-model="email"
            @input="$root.checkRegex('email',email)[0] ? afterCheck($event,$root.checkRegex('email',email)) : afterCheck($event,$root.checkRegex('email',email))" @keyup.enter="check" />
            <!-- <vs-input icon-no-border icon="lock" type="password" label-placeholder="รหัสผ่าน" /> -->
            <div class="form-group m-t-10">
                <div class="text-left">
                    <inputPass placeholder="รหัสผ่าน" required v-model="password" @keyup.enter.native="check"></inputPass>
                    <small class="form-control-feedback text-danger errorMsg">{{errorMsgpassword}}</small>
                </div>
            </div>            
            {{password}}
        </div>
    </div>  
</template>

<script>
import inputPass from "@/components/member/inputPass.vue";
export default {
    name: "loginBox",
	data: function () {
		return {
			email:"",
			stMail:false,
			password:"",
			stPass:false,
			errorMsgemail:"",
			errorMsgpassword:"",
			remember:false,
		}
    },//=== end data
    
	mounted: function () {
		var self = this;
		var localMail = localStorage.getItem('email')
		if(localMail){
			self.email = localMail
			self.remember = true
			self.stMail = true
		}
	},//=== end mounted

	watch: { 
		password: function() {// watch it
			var self = this;
			self.errorMsgpassword = ""
	  	}
    },//end watch

	methods: {
		afterCheck: function (event,result) {
			var self = this;
			self['errorMsg'+result[2]] = result[1];
			if(result[0] == false){
				$(event.target).closest(".form-group").addClass("error")
				self.stMail = false
			}else{
				$(event.target).closest(".form-group").removeClass("error")
				self.stMail = true
			}
		},

		check: function () {
			var self = this;
			if(!self.email){
				self.errorMsgemail = 'กรุณากรอกอีเมล'
			}
			if(!self.password){
				self.errorMsgpassword = 'กรุณากรอกรหัสผ่าน'
			}else{
				self.errorMsgpassword = ''
			}

			if(self.stMail == true && self.password){//api post ajax this state(option)
				var result = self.$root.userList.findIndex(x => {
					return x.email == self.email && x.pass == self.password
				})
				if(result > -1){
					if(self.remember == true){
						self.remem(self.email,'set')
					}else{
						self.remem(self.email,'del')
					}
					swal('สำเร็จ','ระบบกำลังนำคุณเข้าระบบ','success')
					setTimeout(function () {
						// swal.close()
						window.location.href = 'form_regis.php?email='+self.email;
					}, 5000);
				}else{
					swal('ไม่สามารถเข้าระบบได้','อีเมลหรือรหัสผ่านไม่ตรงกับในระบบ','warning')
				}
			}else{
				swal('ข้อมูลไม่ถูกต้อง','กรุณาตรวจสอบข้อมูล','warning')
			}
		},

		remem: function (e,type) {
			var self = this;
			if(type == 'set'){
				console.log("setCookie : ",e,type)
				localStorage.setItem('email', e)
			}else{
				localStorage.clear()
			}
		}

    },//=== end methods
    
   components: {
        inputPass
    },
}
</script>

<style scope>

</style>