<template>
  <div>
    <h1>{{ $route.name }}</h1>
    <input type="text" v-model="userUrl">
    <button @click="onLoadUser">load user</button>

    <!-- nuxt-child คือ index.vue ที่อยู่ใน pages > users -->
    <nuxt-child />
  </div>
</template>

<script>
export default {
  data: () => {
     return {
        userUrl: ''
     }
  },
  methods: {
    onLoadUser() {
      this.$router.push('/users/' + this.userUrl)
      // สามารถใช้ this.$router.go() เพื่อเปลี่ยนหน้า  *param 1 ไปหน้า -1 ย้อนกลับ
    }
  },
  layout: 'users'
}
</script>