<template>
  <header class="header">
    <ul class="nav-items">
      <li>
        <nuxt-link to="/">Home</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/users">Users</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/posts">Posts</nuxt-link>
      </li>
    </ul>
  </header>
</template>

<script>
    export default {
        data () {
            return {

            }
        }
    }
</script>

<style scoped>
  .header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-items li {
    margin: 10px;
  }
</style>