<template>
  <div class="header-container">
    <header class="the-header">
      <!-- @toggle คือ การดักจับ event ชื่อ toggle ที่มาจาก @click="$emit('toggle')" ที่ถูกส่งออกมาจากคอมโพเนนท์ TheSideNavToggle โดยฟังก์ชั่น $emit() -->
      <TheSideNavToggle @toggle="$emit('sidenavToggle')" />
      <div class="logo">
        <nuxt-link to="/">K@pook Staff</nuxt-link>
      </div>
      <div class="spacer"></div>

      <!-- สั่ง active ด้วยการเพิ่ม active-name="1" ที่ tag Menu  -->
      <Menu class="navigation-items" mode="horizontal" >
        <!-- <MenuItem name="1">
          <nuxt-link to="/"></nuxt-link>
        </MenuItem>
        <MenuItem name="2">
          <nuxt-link to="/register">ลงทะเบียน</nuxt-link>
        </MenuItem> -->
        <MenuItem name="3">
          <template class="nav-list" v-if="$auth.$state.loggedIn">
            <Dropdown style="color:#fff">
              {{$auth.user.name}}
              <b-img :src="picture" class="mt-1" rounded="circle" width="30px" height="30px" />
              <DropdownMenu slot="list">
                <DropdownItem><span @click="$auth.logout()">ออกจากระบบ</span></DropdownItem>
              </DropdownMenu>
            </Dropdown>
          </template>
          <template class="nav-list" v-else>
            <Dropdown>
              <nuxt-link to="/login">เข้าสู่ระบบ</nuxt-link>
            </Dropdown>
          </template>
        </MenuItem>
      </Menu>
    </header>
  </div>
</template>

<script>
import TheSideNavToggle from '@/components/Navigation/TheSideNavToggle'
import dotProp from 'dotprop'

export default {
  name: 'TheHeader',
  components: {
    TheSideNavToggle
  },
  computed: {
    picture() {
      return  dotProp(this.$auth.user, 'picture') ||  // OpenID
              dotProp(this.$auth.user, 'picture.data.url') || // Facebook graph API
              dotProp(this.$auth.user, 'avatar_url') // GitHub
    }
  }
}
</script>

<style scoped>
a {
  display: flex;
}

.header-container {
  height: 60px;
}

.the-header {
  width: 100%;
  position: fixed;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(29, 40, 23, 1) 0%,
    rgb(38, 39, 37) 100%
  );
  z-index: 100;
  box-sizing: border-box;
  padding: 0 30px;
  border-bottom: 1px solid #fff;
}

.logo {
  font-size: 1.3rem;
}

.logo a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1;
}

.navigation-items {
  display: none;
}

@media (min-width: 768px) {
  .navigation-items {
    display: block;
  }
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  text-decoration: none;
  color: white;
}

.nav-item a:hover,
.nav-item a:active,
.nav-item a.nuxt-link-active {
  color: red;
}

.ivu-menu-light {
  background: transparent;
}
</style>
