<template>

  <!-- @click คือ การดักจับ event ชื่อ click โดยเมื่อมีการ click จะส่ง event ชื่อ toggle ออกไปโดยฟังก์ชั่น $emit('toggle') -->
  <div
    class="drawer-toggle"
    @click="$emit('toggle')">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</template>

<style scoped>
.drawer-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 35px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .drawer-toggle {
    display: none;
  }
}

.drawer-toggle .bar {
  width: 90%;
  height: 2px;
  background-color: white;
}
</style>
