<template>
<div class="sidenav-container">

  <div
    v-if="show"
    class="sidenav-backdrop"
    @click="$emit('close')">
  </div>
    
  <!-- 
    <transition name="slide-side"> คือ component ที่ใช้สร้าง transitions/animations ระหว่างหน้าเว็บ

    link: https://nuxtjs.org/api/pages-transition/
    link: https://nuxtjs.org/api/configuration-transition/
  -->
  <transition name="slide-side"> <!-- slide-side จะถูกใช้ผ่าน css class เช่น .slide-side-enter -->
    <div
      v-if="show"
      class="sidenav">

      <!-- @click คือ การดักจับ event ชื่อ click โดยเมื่อมีการ click จะส่ง event ชื่อ close ออกไปโดยฟังก์ชั่น $emit('close') -->
      <ul
        class="nav-list"
        @click="$emit('close')">
        <!-- $emit คือ built-in function ที่ vue มีมาให้ -->

        <li class="nav-item"><nuxt-link to="/booking">จองห้องประชุม</nuxt-link></li>
        <!-- <li class="nav-item"><nuxt-link to="/posts">Blog</nuxt-link></li>
        <li class="nav-item"><nuxt-link to="/users">User</nuxt-link></li>
        <li class="nav-item"><nuxt-link to="/admin">Admin</nuxt-link></li> -->
      </ul>

    </div>
  </transition>

</div>
</template>

<script>
export default {
  name: "TheSidenav",
  props: {
    show: {
      type: Boolean,
      default: false
    }
  }
};
</script>


<style scoped>
.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.sidenav {
  height: 100%;
  width: 300px;
  background-color: white;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 30px;
}

.slide-side-enter-active,
.slide-side-leave-active {
  transition: all 0.3s ease-out;
}
.slide-side-enter,
.slide-side-leave-to {
  transform: translateX(-100%);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 20px 0;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.nav-item a:hover,
.nav-item a:active {
  color: red;
}
</style>
