<template>
  <div class="input-control">
    <label>
      <!-- slot คือ content ที่อยู่ตรงกลางระหว่าง conponent>slot</conponent> -->
      <slot />
    </label>

    <!-- v-bind="$attrs" คือ การเชื่อมค่า $attrs เข้ากับ property ของแท็ก <input> -->
    <!-- v-bind="$attrs" กับ :value="value" ไม่ต้องมีก็ได้ แต่มีไว้เพื่อป้องกันปัญหาที่่อาจเกิดจากบางสาเหตุ -->
    
    <!-- @input คือ การดัก event ของ input เมื่อค่าของ input มีการเปลี่ยนแปลง -->
    <!-- $emit('input', $event.target.value) เป็นการเรียกใช้ function $emit() ให้ทำหน้าที่ส่ง event ชื่อ input ออกมาพร้อมกับพารามิเตอร์อีกตัว โดยค่าของพารามิเตอร์นี้ก็คือ $event.target.value นั่นเอง -->
    <!-- $event.target.value คือ ค่า value ของ input ที่ดักจับด้วย event เอาไว้ -->
    <input
      v-if="controlType === 'input'"
      v-bind="$attrs"
      :value="value"
      @input="$emit('input', $event.target.value)"
    />
    data value: {{ value }}
    
    <!-- 
    จาก ข้างบน ถ้าไม่ใช้    @input="$emit('input', $event.target.value)" 
    จะต้องเขี่ยนแบบข้างล่างนี้    v-on:input="value = $event.target.value"
    -->

    <textarea
      v-if="controlType === 'textarea'"
      rows="6"
      :value="value"
      @input="$emit('input', $event.target.value)"
    ></textarea>
  </div>
</template>

<script>
export default {
  name: 'AppInputControl',
  props: {
    controlType: {
      type: String,
      default: 'input'
    },
    value: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
.input-control {
  margin: 10px 0;
}

.input-control label {
  display: block;
  font-weight: bold;
}

.input-control input,
.input-control textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid #ccc;
  padding: 5px;
}

.input-control input:focus,
.input-control textarea:focus {
  background-color: #eee;
  outline: none;
}
</style>
