<template>
  <div class="img-control">
    <img  style="display:inline-block" class="bg-img" :src=url alt v-bind="$attrs"/>
  </div>
</template>

<script>
export default {
  name: 'AppImageControl',
  props: {
    url: {
      type: String,
      default: ''
    }
  }
}