/* vue css */
/* วิธีใช้  ครอบdomด้วย <transition name="fade"> ที่domต้องการ  */
.fade-enter-active, .fade-leave-active {transition: opacity .5s;}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {opacity: 0;}

.slide-fade-enter-active {transition: all .3s ease;}
.slide-fade-leave-active {transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);}
.slide-fade-enter, .slide-fade-leave-to{transform: translateX(10px); opacity: 0;}


body{ font-family: 'Mitr', sans-serif; font-size: 16px; font-weight: 300;}
h1,h2,h3,h4,h5,h6,code, kbd, pre, samp{font-family: 'Mitr', sans-serif; font-weight: 300;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
-moz-appearance:textfield;
}

/* HOOK */
.form-control{border-radius: 5px;}

/* END HOOK */

.upload_avater{}
.upload_avater figure{
  width: 180px;
  height: 180px;
  margin: 0 auto 24px;
  border-radius: 50%;
  background: #E4E4E4;
  border: 6px solid #1386d3;
  position: relative;
}
.upload_avater figure div{ overflow: hidden; border-radius: 50%; width: 100%; height: 100%;}
.upload_avater figure input{position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; opacity: 0; z-index: 3; cursor: pointer;}
.upload_avater figure img {width: 100%;height: auto; display: block; }
.upload_avater figure i{ position: absolute; bottom: 1px; right: 11px; background: #FFF; border-radius: 50%; width: 36px; height: 36px; text-align: center;box-sizing: border-box;padding-top: 7px;border: 3px solid #1386d3; z-index: 1;}
.upload_avater figure .default_upload_img.disable {
  filter: grayscale(0.9) blur(2px);
  -webkit-filter: grayscale(0.9) blur(2px);
  opacity: 0.7;
}
.btn_upfile{ position:relative; cursor: pointer;}
.btn_upfile input{ display: block; position:absolute; top:0; left:0; z-index:2; width:100%; height:100%; opacity:0; cursor: pointer; }
.show_img{ width: 400px; margin: auto;}
.show_img img{ display: block; width: 100%; height: auto;}

.btn_facebook{ background: #36679e; border:#2b5b92;}
.ava{ display: block; width: 80px; height: 80px; border-radius: 50%;}

.btn_google{ background: #FFF;}
.btn_google i{ width: 20px; height: 20px; display: inline-block; vertical-align: text-bottom;}
.btn_google i img{ width:100%; height:auto; display: block;}

#img_cover_crop{ width:auto; height: 100%; max-width: 100%; display: block; margin: auto;}
#member_modal .modal-dialog{ max-width: 650px;}

.mailPass{position: relative;}
.mailPass .coverMail,.mailPass .form-control{ background-color: #77e1b2; padding: 0.375rem 0.75rem; border-radius: 5px; background-image:none;}
.mailPass:after{ font-family: "themify"; content: "\e64c"; display: block; position: absolute; top:6px; right:17px; background: #FFF; border-radius: 50%; font-size: 14px; text-align: center; box-sizing: border-box; padding: 3px 0 0; width: 26px; height: 26px;}


.password_eye{ position: relative; }
.password_eye .btn_eye{ cursor: pointer; position: absolute; top:50%; right:8px; transform: translateY(-50%); z-index: 3; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #FFF; box-sizing: border-box; background:url("../../assets/images/svg/eye_close.svg") no-repeat center center #FFF; background-size: 20px 20px;}
.password_eye .btn_eye:hover{ border: 1px solid #eee}
.password_eye .btn_eye.active{ background:url("../../assets/images/svg/eye_open.svg") no-repeat center center #FFF; background-size: 20px 20px;}
