body {
  font-family: Sarabun;
}

.ivu-form-label-top .ivu-form-item-label {
  padding: 0 0 1px 0;
}

.ivu-form-item .ivu-form-item {
  margin-bottom: 0 !important;
}

.ivu-modal-body {
  font-size: 0.9rem;
}

.ivu-modal-close .ivu-icon-ios-close {
  top: -4px;
}

/* ทำ responsive input */
/* 
.ivu-form-label-top .ivu-form-item-label {
  float: none;
  display: inline-block;
  padding: 0 0 10px 0;
}
.ivu-form-item-content {
  margin-left: 0 !important;
}
*/