<template>
  <div class="main-wrapper">
    <div class="main-container-fluid">
      <router-view></router-view>
    </div>
  </div>
</template>


<script>
// import checkRegex from '@/plugins/main.js'

export default {
  name: "blank",
  data() {
    return {

    };
  },

  components: {

  },
  methods: {

  }
};
</script>
