<template>
  <div>
    
    <!-- 
      @sidenavToggle="displaySidenav = !displaySidenav" คือ การดักจับ event ชื่อ sidenavToggle 
      ที่มาจาก @toggle="$emit('sidenavToggle')" ที่ถูกส่งออกมาจากคอมโพเนนท์ TheHeader โดยฟังก์ชั่น $emit() 
      และเมื่อมี event นี้เกิดขึ้นให้ displaySidenav = !displaySidenav 
    -->
    <TheHeader @sidenavToggle="displaySidenav = !displaySidenav" />
    <!-- <div style="text-align:right;">{{displaySidenav}}</div> -->

    <!-- @close คือ การดักจับ event ชื่อ close ที่มาจาก @click="$emit('close')" ที่ถูกส่งออกมาจากคอมโพเนนท์ TheSidenav โดยฟังก์ชั่น $emit() -->
    <TheSidenav
      :show="displaySidenav"
      @close="displaySidenav = false" />
    <nuxt />

  </div>
</template>

<script>
import TheHeader from '@/components/Navigation/TheHeader'
import TheSidenav from '@/components/Navigation/TheSidenav'

export default {
  components: {
    TheHeader,
    TheSidenav
  },
  data() {
    return {
      displaySidenav: false
    }
  }
}
</script>

<style scoped>

</style>
