<template>
  <div class="main-wrapper">
    <!---Navigation-->
    <Navbar
      :topbarColor="topbarColor"
      :logo="require('../assets/images/logo/logo-light-icon.png')"
      :title="logotitle"
    />
    <!---Sidebar-->
    <SideBar parent=".main-wrapper" :sidebarLinks="sidebarLinks" />
    <!---Page Container-->
    <div class="main-container-fluid">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/header/Navbar.vue";
import SideBar from "@/components/sidebar/SideBar.vue";
import sidebarLinks from "@/components/sidebar/sidebarlinks.js";

export default {
  name: "MainContainer",
  components: {
    Navbar,
    SideBar
  },
  data: () => ({
    topbarColor: "#4F5467",
    logotitle: "Elite Vuesax Free",
    sidebarLinks: sidebarLinks
  }),
  methods: {}
};
</script>