<template>
  <div>
    <main-header />
    <h3>layout สำหรับ users เท่านั้น</h3>
    <nuxt />
  </div>
</template>

<script>
import MainHeader from '~/components/MainHeader.vue'

export default {
  components: {
    MainHeader
  },
  data: () => {
     return {

     }
  }
}
</script>
