<template>
  <div>
    start
    {{getVuex}}
    <img class="bg-img" src="~/assets/images/bg-mascos.png" alt />
    <br>

    <div v-for="(item, index) in modUrlImg" style="display:inline-block" class="bg-img">
      <img :src="item"/>
    </div>

  </div>
</template>

<script>
import Moment from 'moment'
Moment.locale('th')

export default {
  middleware: ['auth'],
  options: {
    auth: false
  },
  data() {
    return {
      dataTest: [],
      img:[
        "users/d1.jpg",
        "users/d2.jpg",
        "users/d3.jpg",
        "users/d4.jpg"
      ],
      modUrlImg: []
    }
  },
  created() {},
  mounted() {
    this.setVeuX(),
    this.img.map((e, index) => {
      this.modUrlImg.push(require('@/assets/images/' + e))
    })
  },
  computed: {
    getVuex() {
      // เรียกใช้ data จาก store
      return this.$store.state.loadedPosts
    },
  },
  methods: {
    // ตัวอย่างการใช้ axios ดึงข้อมูล
    async getData() {
      let res = await this.$axios.get('/api/test')
      this.dataTest = res.data

      await this.getEvents(id)
    },

    // ตัวอย่างการใช้ axios แก้ไขข้อมูล
    async editData(id) {
      await this.$axios.put('/api/test', {
        id: id,
      })
    },

    //ตัวอย่างการ ส่งดาต้าไปยัง vueX
    setVeuX() {
    let data = 'test vuex';

    // ส่ง data ไปยัง action ชื่อ setPosts ที่อยู่ใน store
    this.$store.dispatch('setPosts', data)
    },
  }
}
</script>

<style lang="scss" scoped>
.controls {
  position: relative;
}

.wrapper {
  &.--gutter {
    margin: -10px;
  }
}

.room-item {
  background: linear-gradient(135deg, rgba(88, 208, 18, 1) 0%, rgba(57, 183, 26, 1) 100%);
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 18vh;
  margin: 10px;
  overflow: hidden;
  position: relative;

  &:hover {
    background: linear-gradient(135deg, rgb(98, 230, 21) 0%, rgba(57, 183, 26, 1) 100%);
    box-shadow: 0px 1px 2px 1px rgba(57, 183, 26, 1);
    cursor: pointer;
  }

  &:active {
    box-shadow: 0px 0px 1px 1px rgba(57, 183, 26, 1);
  }

  &.busy {
    background: linear-gradient(135deg, #7d7d7d 0%, #b7721a 100%);

    .conner-right {
      color: #ffa127;
    }
  }

  .fullwidth-center {
    width: 100%;
    text-align: center;
  }

  .title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1rem;
  }

  .subtitle {
    margin-top: -10px;
    color: #338607;
    font-size: 0.8rem;
  }

  .conner-right {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #aee194;
  }

  .ivu-icon {
    font-size: 1rem;
    margin-right: 5px;
  }

  .bg-img {
    position: absolute;
    left: -27px;
    bottom: -31px;
    opacity: 0.1;
  }
}

.btn-large {
  font-weight: bold;
  font-size: 1rem;
  background-color: #174aaa;
  color: #fdb710;
  min-height: 8vh;

  &:hover {
    box-shadow: 0px 1px 2px 1px rgba(64, 133, 179, 0.75);
  }

  &:active {
    box-shadow: 0px 0px 1px 1px rgba(64, 133, 179, 1);
  }
}

.ivu-modal-header {
  p {
    font-weight: bold;
    font-size: 1rem;
    height: calc(1rem + 8px);
    line-height: calc(1rem + 8px);
    display: flex;
    justify-content: center;
  }

}
</style>
