<template>
    <div>
        <loginBox/>

    </div>
</template>

<script>
import loginBox from "@/components/member/login.vue";
export default {
    name: "Login",
   components: {
        loginBox
    },
    layout:"blank",
}
</script>


<style>

</style>